body{
	margin: 0;
	padding: 0;
	width: 250px;
	height: 400px;
}
.toggle-add-form{
	display: none;
}
.toggle-add-form.open{
	display: flex;
}
.list-title{
	display: inline-block;
	overflow-x: auto;
	white-space: nowrap;
	font-size: 1.4em;
	width: 70%;
}
.content-header .btns{
	margin: 0;
	padding: 0;
	display: flex;
	position: relative;
	right: 0%;
}
.site-title{
	width: 80%;
	overflow-x: auto;
	white-space: nowrap;
}
.content-header{
	overflow-y: hidden;
	width: 100%;
	display: flex;
	/* justify-content: left; */
}

#content-container{
	display: block;
}



.site-title::-webkit-scrollbar,.list-title::-webkit-scrollbar {
    height: 0px;
}
.site-title::-webkit-scrollbar-thumb, .list-title::-webkit-scrollbar-thumb {
    background-color: #2f3542;
}